@import '../../App.css';

.card-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 20vh;
	width: 20vh;
	border: .5px solid var(--border);
	border-radius: 10px;
	padding: 10px 10px;
	margin: 10px 10px;
	box-shadow: 4px 4px 20px 1px var(--shadow);
	position: relative;
	backdrop-filter: blur(2px);
	cursor: pointer;
	transition: all .3s;
}

.card-image {
	position: absolute;
	height: 80%;
	width: fit-content;
	max-height: fit-content;
	max-width: 100%;
	transition: all .3s;
}

.card-title {
	opacity: 0;
	font-weight: 600;
	color: var(--text-secondary);
	text-shadow: 0 0 2px var(--text-shadow);
	transition: all .3s;
}

.card-description {
	opacity: 0;
	color: var(--text-secondary);
	text-align: center;
	transition: all .3s;
}

.card-wrapper:hover {
	transform: scale(1.02);
	transition: all .3s;
}

.card-wrapper:hover .card-image {
	filter: blur(2px);
	opacity: 0.4;
	z-index: 1;
	transition: all .3s;
}

.card-wrapper:hover .card-title {
	opacity: 1;
	z-index: 6;
	transition: all .05s;
}

.card-wrapper:hover .card-description {
	opacity: 1;
	z-index: 6;
	transition: all .05s;
}
