:root {
	/* Dark Mode */
	--background: url(../public/caleb-ralston-6hxvm0NzYP8-unsplash.jpg) no-repeat center center fixed;
	--background-color: #000000;
	--text-primary: #dddddd;
	--text-secondary: #ffffff;
	--button-bg: #ffffff;
	--button-text: #000000;
	--neutral: #333333;
	--border: #444444;
	--shadow: hsla(0, 0%, 100%, 0.2);
	--text-shadow: #222;
}

[data-theme="light"] {
	/* Light Mode */
	--background: url(../public/eberhard-grossgasteiger-rNWB3AaqxYs-unsplash.jpg) no-repeat center center fixed;
	--background-color: #ffffff;
	--text-primary: #000000;
	--text-secondary: #000000;
	--button-bg: #000000;
	--button-text: #ffffff;
	--neutral: #dddddd;
	--border: #999999;
	--shadow: hsla(0, 0%, 72%, 0.2);
	--text-shadow: #ddd;
}

@font-face {
	font-family: 'Consolas'; /*a name to be used later*/
	src: url('/public/Consolas-Font/Consolas.ttf'); /*URL to font*/
}

.App {
	font-family: 'Consolas';
	background: var(--background);
	transition: all 0.5s;
}

